/* You can add global styles to this file, and also import other style files */
@import "./scss/loading";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/tailwind-light/theme.css";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~primeflex/primeflex.css";
body {
  background-color: #121212;
  margin: 0px;
  font-family: "Exo", sans-serif;
}
.onSucessToast {
  color: #5a5a5a !important;
}
.onErrorToast {
  color: #fff !important;
}





.header {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #1f1d2b;
  h3 {
    margin: 0;
  }
  // background-color: #1f1f1f;
}
.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #1f1d2b;
  h3 {
    margin: 0;
  }
}



.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #1f1d2b;
}
